/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    background: #100f0f;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #100f0f;
    color: white;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    background: #100f0f;
    padding: 30px;
    overflow: auto;
  }
  
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  header h1 {
    font-size: 2rem;
  }
  
  header .language-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  select {
    font-size: 1rem;
  }
  
  .speech-recognition {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  
  .start-recording-btn {
    font-size: 1.2rem;
    background-color: rgba(90, 214, 90, 0.701);
    padding: 10px 15px;
    border : none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .stop-recording-btn {
    font-size: 1.2rem;
    background-color: rgba(240, 70, 70, 0.621);
    padding: 10px 15px;
    border : none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .conversion-box {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(67, 62, 62, 0.1); 
  }
  
  .conversion-box div {
    flex: 1;
  }
  
  .conversion-box h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  
  .original-text,
  .translated-text {
    border: 1px solid #a7a4a4da;
    padding: 15px;
    height: 150px;
    overflow-y: auto;
  }
  
  .conversation-history {
    margin-bottom: 30px;
  }
  
  .conversation-history h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .histories-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 0;
  }
  
  .history-box {
    flex: 1;
    background-color: #100f0f;
    padding: 1rem;
    /* border-radius: 5px; */
    box-shadow: 0 4px 6px rgba(67, 62, 62, 0.1);
  }
  
  .history-box h2 {
    margin-top: 0;
  }

  .summary-item {
    border: 1px solid rgb(247, 245, 245);
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .original-summary:before {
    content: "👽";
    font-weight: bold;
  }
  
  .translated-summary:before {
    content: "👽";
    font-weight: bold;
  }
  
  .original-summary,
  .translated-summary {
    margin-top: 5px;
  }
  
  .original-summary,
  .translated-summary {
    white-space: pre-wrap;
  }
  


  #conversation-history {
    border: 1px solid #333;
    /* padding: 15px; */
    min-height: 150px;
    overflow-y: auto;
    /* margin-bottom: 15px; */
  }
  
  #save-conversation-btn,
  #summarize-conversation-btn {
    font-size: 1rem;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  #summarize-conversation-btn {
    background-color: #007bff;
  }
  