header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
    color: #333;
}

.language-selection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.language-selection p {
    margin: 0;
    margin-right: 10px;
    font-size: 18px;
    color: #333;
}

#language-select {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
}

.speech-recognition {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#start-recognition-btn,
#stop-recognition-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 28px;
    background-color: #f90a0a;
    color: #fff;
    border: none;
    cursor: pointer;
}

#stop-recognition-btn {
    background-color: #1534ff;
}

.conversion-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.conversion-box .original-text,
.conversion-box .translated-text {
    width: 45%;
}

.conversion-box .original-text p,
.conversion-box .translated-text p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}

.conversion-box .original-text div,
.conversion-box .translated-text div {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 18px;
    color: #333;
    height: 200px;
    overflow-y: auto;
}

.conversation-history {
    margin-top: 50px;
}

.conversation-history h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}

.conversation-history #conversation-history {
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    color: #333;
    height: 300px;
    overflow-y: auto;
}

#save-conversation-btn {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .speech-recognition {
        flex-direction: column;
        margin-bottom: 20px;
    }

    #start-recognition-btn i,
    #stop-recognition-btn i {
        margin-right: 5px;
    }

    #start-recognition-btn i:before {
        content: "\f04b";
    }

    #stop-recognition-btn i:before {
        content: "\f04d";
    }